*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

:root, html, body {
    width: 100%;
    min-height: 100%;
}

.heroInput {
    width: 18%;
}
.sideButton {
    width: 5%;
}
.mainDiv {
    width: 100%;
    height: 100%;
    background-color: rgb(25, 15, 15);
    color: white;
    padding: 20px;
}

.sideTitles {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: red;
    font-size: 40px;
    font-weight: 800;
    text-shadow: 2px 2px 12px  white;

}

.selectionDiv {
    width: 95%;
    margin: 20px auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.selectionDiv > input {
    display: block;
}

.heroInputDiv {
    display: flex;
    justify-content: space-evenly;
    width: 40%;
}
.inputField {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.observableData {
    display: flex;
    justify-content: space-evenly;
}

.inputField input {
    width: 200px;
}

.miniMap {
    height: 400px;
    width: 400px;
    background-image: url(./Minimap.webp);
    margin: 70px auto 0 auto;
    position: relative;
    border: 5px solid gold;
    box-shadow: 0 3px 5px black;
}


.countersDisplay {
    background-color: brown;
    width: 320px;
    padding-left: 10px;
    min-height: 350px;
    border: 4px solid black;
    display: flex;
    flex-direction: column;
    margin: 50px auto 20px auto
}
.countersRow {
    display: flex;
    justify-content: space-around;
    align-items:  center;
    margin-top: 5px;
    margin-bottom: 5px;
    position: relative;
}

.countersDisplay h1 {
    margin-bottom: 20px;
    padding-left: 20px;
    padding-top: 20px
}
.countersRow p {
    font-size: 20px;
    font-weight: 600;
    width: 100px;
    margin: 0 10px;
}

.countersRow img {
    width: 70px;
    height: 70px;
    margin-right: 10px;
    border-radius: 40px;
    border: 6px solid rgb(54, 49, 49);
}
.countersRow span {
    text-align: center;
    width: 120px;
}
.countersRow .heroCard__backface {
    transform: rotateY(0);
    display: none;
    width: 170px;
    top:0;
    right: 0;
    z-index: 2;
}



.countersRow:hover .heroCard__backface {
    display: flex;
    z-index: 2;
}

.SelectInBackFace {
    display: none;
    background-color: rgb(47, 255, 151);
    color: white;
    text-align: center;
    width: 70px;
    border: 0;
    padding: 3px;
    font-weight: 800;
    margin: 10px auto;
}
.countersRow:hover .SelectInBackFace {
    display: block;
}

.icon {
    width: 45px;
    height: 45px;
    border: 10px;
    border: 2px solid black;
}

.radientMid {
    position: absolute;
    top: 220px;
    left:132px;
}

.direMid {
    position: absolute;
    top:145px;
    left:200px;
}

.radientOfflaner {
    position: absolute;
    top:110px;
    left:27px;
}
.radientSupport {
    position: absolute;
    top: 165px;
    left: 27px;
}

.direCarry {
    position: absolute;
    top: 25px;
    left: 60px;
}

.direHardSupport {
    position: absolute;
    top: 25px;
    left: 115px;
}

.direOfflaner {
    position: absolute;
    top: 220px;
    left: 324px;
}
.direSupport {
    position: absolute;
    top: 170px;
    left: 324px;
}

.radientCarry{
    position: absolute;
    top: 310px;
    left: 300px;
}

.radientHardSupport {
    position: absolute;
    top: 310px;
    left: 250px;
}

.sinergiesDisplay {
    padding-top: 20px;
    width: 320px;
    background-color: rgb(14, 67, 160);   
    min-height: 350px;
    border: 4px solid black;
    margin: 50px auto 20px auto;
    padding-left: 10px;
}

.radnomHeroes {     
    position: fixed;
    width: 1000px;
    height: 300px;
    top: 200px;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    align-items: flex-start;
    left: calc( 50vw - 500px );
    background-color: rgba(106, 16, 16, 0.845);
    box-shadow: 0px 10px 10px black;
    border: 10px solid rgb(95, 133, 135);
}
.heroCard {
    position: relative;
    width: 135px;
    perspective: 800px;
    height: 235px;
    text-align: center;

}

.heroInfoBig {
    top:0;
    left: 0;
    position: absolute;
    width: 150px;
    background-color: white;
    color: black;
    padding: 5px;
    transition: 1s transform;
    backface-visibility: hidden;
}
.heroCard:hover .heroInfoBig {
    transform: rotateY(180deg);

}

.heroCard__backface {
    transform: rotateY(180deg);
    top:0;
    left: 0;
    position: absolute;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    color: black;
    background-color: white;
    height: 235px;
    width: 150px;
    transition: 1s transform;
    box-shadow: 0px 6px 10px black;
}
.heroCard__backface p {
    width: 94%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    float: left;
}

.statBtn {
    background-color: brown;
    color: white;
    width: 50px;
    padding: 2px;
    display: block;
}
.posBtn {
    padding: 2px;
    background-color: blue;
    color: white;
    width: 60px;
    display: block;

}

.selectStatPos {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.heroCard__backface p span {
    display: block;
    text-align: center;

}
.span-left {
    font-size: 18px;
    color:goldenrod;
    text-decoration: underline;
}
.heroCard:hover .heroCard__backface {
    transform: rotateY(0);
}
.randomHeroSelectBtn {
    bottom: -22px;
    width: 70px;
    position: absolute;
    background-color: rgb(65, 255, 135);
    border: 0;
    color: white;
    font-weight: 800;
    left: calc( calc(135px - 70px) / 2 );
    transition: 0.5s;
}
.randomHeroSelectBtn:hover {
    transform: scale(1.09);

}
.statsDiv {
    border: 1px solid black;
}

.UkloniRandomHeroes {
    width: 25px;
    height: 25px;
    background-color: red;
    color:white;
    margin-left: 15px;
    margin-top: 100px;
}

.heroInfoBig img {
    width: 95%;
    margin: 2px auto;
    display: block;
    height: 200px;
}
.heroInfoBig p {
    text-align: center;
    font-size: 18px;
    font-weight: 800;
    color: gold;
    text-shadow: 1px 1px 2px black;
}

.reactive-input {
    width: 140px;
    height: 30px;
}

.reactive-input__input {

}

.reactive-input__select {
    display: none;
}

.reactive-input__option {

}

.reactive-input__select--active {
    display: block;
}